* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: #333;
}

html {
  font-size: 16px;
}

nav, main, .row {
  max-width: 1330px;
  margin: 0 auto;
}

img {
  border-radius: 20px;
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }

  button, input {
    font-size: 14px;
  }
}